body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: lightblue
}  
header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
header nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}
header nav a:hover {
    text-decoration: underline;
    color: aquamarine;
}
section {
    padding: 20px;
    margin: 20px;
    text-align: center;
    background:lightblue
    border-radius: 5px;
}
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;

}   
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
